@using Loquit.Services.DTOs;
@using Loquit.Data.Entities;
@using Microsoft.AspNetCore.Identity;
@using Loquit.Services.DTOs.ChatTypesDTOs;
@using Loquit.Web.Models;

@{
    ViewData["Title"] = "Messages";
}

@model DirectChatViewModel

<div class="main-container d-flex justify-content-center">
    <div class="right-container">
        <div class="lr-container-content">
            <form class="post-search d-flex justify-content-center flex-row" method="get">
                <div>
                    <input type="text" name="searchQuery" class="post-search-bar form-control" placeholder="Search...">
                </div>
                <button type="submit" class="normal-btn post-search-btn btn btn-primary">
                    <img src="~/img/lens.png" class="btn-image" />
                </button>
            </form>

            @await Html.PartialAsync("PartialViewDirectChats", Model.ChatsList.DirectChats)

        </div>
    </div>
    <div class="left-container">
        <div class="lr-container-content d-flex justify-content-start align-items-center" style="height: 90%">
            @if (Model.ChatsList.DirectChats.Any())
            {
                @await Html.PartialAsync("PartialViewDirectChat", Model.CurrentChat)
            }
            else
            {
                <h3 class="d-flex">No chats available.</h3>
            }
        </div>
    </div>
</div>

