@using Loquit.Data.Entities
@using Loquit.Services.DTOs;
@using Loquit.Services.DTOs.ChatTypesDTOs;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<AppUser> UserManager;

@model IEnumerable<DirectChatDTO>;

@{
    var currentUser = await UserManager.GetUserAsync(User);
}

@foreach (var item in Model.Reverse())
{
    var userChatMember = item.Members.FirstOrDefault(a => a.UserId != currentUser.Id);
    if (userChatMember != null)
    {
        var user = await UserManager.FindByIdAsync(userChatMember.UserId);
        <div class="post container-fluid d-flex justify-content-center flex-column">
            <div class="d-flex justify-content-between flex-row">
                <div class="post-header-text">
                    <div class="post-header-info d-flex flex-row justify-content-between">
                        <a asp-controller="DirectChats" asp-action="OpenChat" asp-route-chatId="@item.Id" class="friend-user d-flex flex-row" onclick="openChat('@item.Id'); return false;">
                            <span class="pfp pfp-small"><img src="~/uploads/@user.ProfilePictureUrl" loading="lazy" /></span>
                            <span class="post-name">@user.UserName</span>
                        </a>

                        <div class="friend-header-more">
                            <div class="dropdown">
                                <button class="more-btn btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="more" src="~/img/more.png" loading="lazy" />
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a href="javascript:void(0)" onclick="removeFriend('@user.Id', () => reloadFriends())" class="dropdown-item">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
    

    