@using Loquit.Web.Models

@model SendMessageViewModel

@{
    var chatId = Model.ChatId;
}

<form asp-controller="DirectChats" asp-action="SendMessage" method="post" enctype="multipart/form-data" class="write-message" id="imageMessageForm" onsubmit="sendImageMessage(event)">
    <input type="hidden" asp-for="ChatId" value="@chatId"/>
    <input type="hidden" asp-for="MessageType" value="image" />

    <div class="image-message-container">
        <label for="imageFileInput" class="normal-btn image-label btn">
            <div>Choose Image</div>
        </label>
        <input type="file" asp-for="ImageFile" id="imageFileInput" accept="image/*" style="display: none;" onchange="previewImage(event)" />
        <button type="submit" class="normal-btn image-message-btn btn" id="sendImageButton" style="display: none;">
            <div>Send Image</div>
        </button>
    </div>
    
    <img id="imagePreview" src="" alt="Image Preview" style="display: none; max-width: 100%; max-height: 40rem; margin-top: 10px;" />
</form>
