@using Loquit.Services.DTOs.MessageTypesDTOs;

@model ImageMessageDTO

<div class="message-content">
    <div class="message-image">
        <img src="~/uploads/@Model.PictureUrl" alt="User Image" loading="lazy" />
    </div>
    <span class="message-time">@Model.TimeOfSending.ToString("HH:mm")</span>
</div>