@using Loquit.Services.DTOs.MessageTypesDTOs;

@model TextMessageDTO

<div class="message-content">
    <span class="message-text">@Model.Text</span>
    <div class="message-time">@Model.TimeOfSending.ToString("HH:mm")</div>
</div>
