@model Loquit.Web.Models.PostCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="form-container-content">
    <div class="form-title">Edit Post</div>
    <hr />
    <div class="row">

        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" maxlength="200" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyText" class="control-label">Text</label>
                <textarea oninput="auto_grow(this)" TextMode="MultiLine" asp-for="BodyText" class="form-control" maxlength="5000"></textarea>
                <span asp-validation-for="BodyText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="PictureUrl" />
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" type="file" class="form-control-file" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSpoiler" /> Spoiler
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsNsfw" /> NSFW
                </label>
            </div>
            <input type="hidden" asp-for="CreatorId" />
            <div class="form-group form-button">
                <input type="submit" value="Edit" class="highlighted-button create-post-btn btn btn-primary" />
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
